@import url(https://fonts.googleapis.com/css?family=Raleway);
body
{
    font-family: 'Raleway';
    background-color: #e7ffee;
    width: 1330px;
    height: 1000px;
    margin: auto;

}
#im
{
    width:100%;
}
.header .text
{
    position: absolute;
    top:180px;
    left: 35%;
}
.text ul
{
    list-style-type: none;
    text-align: center;
    width: 97%;
    background-color: #acd7f1;
}
.text li
{
    display: inline;
    margin-left: 20px;
}


.left_sidebar
{
    margin-left:-40px;
    float: left;
    color:blueviolet;
    border-style: dashed;
    border-color: #ffe7c5;
    text-align: left;
    width: 200px;
    color:black;
}
#left_sidebarP
{
    margin-left:50px;

}
.left_sidebar ul
{
    list-style:none;
    color:black;

}
.left_sidebar a
{
    display: block;
    color: black;
    margin-bottom: 10px;
}
.left_sidebar a:hover
{
    color: yellow;
}
.right_sidebar
{
    float: right;
    color:blueviolet;
    border-style: dashed;
    border-color: #ffe7c5;
    width: 200px;
    text-align: center;

}
.main_content
{
    width: 800px;
    position:relative;
    left:-900px;
    top:-150px;
    border: groove chartreuse thin;
}
.footer
{
    position: relative;
    bottom: -160px;
    left: -600px;
    background-color: #65c5b2;
    width: 100%;
    height: inherit;
    color: red;
}

a
{
    color: red;
    text-decoration: none;
}
