@import url(https://fonts.googleapis.com/css?family=Raleway);
body
{
    background-color: #b5a789;
    text-align: center;
    font-family: 'Raleway';
}
.header
{
    font-size: 25px;
    height: inherit;
}
.main_content
{
    margin: auto;
    width: 800px;

}
.main_content a
{
    font-size: 30px;
    text-decoration: none;
    color: red;
}

a:hover
{
    color:green;
}
table,td
{
    border: 2px solid black;
    background-color: #fdffcd;
    border-collapse: collapse;
    width: inherit;
}
.footer
{
    position: relative;
    bottom:0;
    background-color: #dbcb39;
    color: #000100;
    width: 200px;
    margin: auto;
}